/* navigation */

.custom-nav {
  margin: 5px 0 0 30px;
}

.nav {
  padding-left: 70px;
  padding-top: 5px;
  height: 70px;
}

.navbar {
  margin: -10px 0 0 0px;
}

.nav a {
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  min-width: 45px;
  font-weight: 600;
  margin-right: 15px;
}

.logo-brand {
  background: #fff;
  border-radius: 0 0 5px 5px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: -5%;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.logo {
  position: relative;
  top: 10px;
  left: 10px;
}

.navbar-nav img:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.carousel-width {
  padding: 0;
}

/*part1*/

.bg-part1 {
  background-image: url("../images/part1bg.jpg");

}

.part1content {
  background: white;
  border-radius: 6px;
  max-width: 264px;
  max-height: 230px;
  margin-right: 19px;
  font-family: 'Ubuntu', Arial, sans-serif;
}

.part1content:hover,
.part2acontent:hover,
.part2bcontent:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.part1content img {
  width: 100%;
}

.row a {
  text-decoration: none;
}

.part1content,
.part2acontent {
  padding: 0;
}

.part1content h3 {
  font-size: 18px;
  font-weight: 500;
  color: #006db8;
  margin: .5em .5em .2em;
  text-align: left;
}

.part1content p {
  font-size: 14px;
  color: black;
  margin: 12px;
  line-height: 1.5;
}

/*part 2*/

.bg-part2 {
  background-image: url("../images/part2bg.jpg");
}


.make-transform:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.part2acontent {
  background: white;
  border-radius: 6px;
  max-width: 550px;
  max-height: 446px;
  font-family: 'Ubuntu', Arial, sans-serif;
}

.part2acontent-text{
  height: 90px;
}

.part2bcontent {
  background: white;
  border-radius: 6px;
  min-width: 170px;
  max-height: 190px;
  font-family: 'Ubuntu', Arial, sans-serif;
}


.part2acontent h3,
.part2bcontent h3 {
  font-size: 13px;
  font-weight: 500;
  color: #006db8;
  margin: .5em 0 .2em;
  padding: 8px;
}

.part2acontent p,
.part2bcontent p {
  font-size: 12px;
  color: black;
  margin: 0 0 12px;
  padding: 3px;
}


/*part3*/
.bg-part3 {
  background-image: url("../images/part3bg.jpg");
  background-position: bottom;
  background-color: #4b91cd;
  background-repeat: repeat-x;
}

.part3Container{
  padding: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  background: white;
  border-radius: 6px;
}

.textRight {
  float: right;
  margin: 10px 5px 0 0;
}

.textLeft {
  float: left;
  padding: 5px;
}

.footer ul{
  margin-left: -15px;
}
.site{
  max-width: 1120px;
  margin: auto;
}